<div class="container voffset3">
  <div class="row">
    <div class="col-sm-8">
      <section id='body'>
	<%=raw @page.content_for(:body) %>
      </section>
    </div>
    <div class="col-sm-4">
      <section id='side_body'>
	<%=raw @page.content_for(:side_body) %>
      </section>
    </div>
  </div>
</div>      
